### Resampling data - transforming all data to daily time frequency

In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

#loading in the financial data

jap_commodities = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/jap_all_com.csv')
jap_commodities['datetime'] = pd.to_datetime(jap_commodities['Date'])
jap_commodities = jap_commodities.set_index('datetime')
jap_commodities.drop(['Date'], axis=1, inplace=True)
jap_commodities = jap_commodities.resample('B').interpolate(method='time')

tankan = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/japan_tankan.csv')
tankan['datetime'] = pd.to_datetime(tankan['quarter'])
tankan = tankan.set_index('datetime')
tankan.drop(['quarter'], axis=1, inplace=True)
tankan = tankan.resample('B').ffill()

france_gdp = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/france_gdp.csv')
france_gdp['datetime'] = pd.to_datetime(france_gdp['DATE'])
france_gdp = france_gdp.set_index('datetime')
france_gdp.drop(['DATE'], axis=1, inplace=True)
france_gdp = france_gdp.resample('B').interpolate(method='time')

ecb_int_rates = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/ecb_int_rates_15-20.csv')
ecb_int_rates['datetime'] = pd.to_datetime(ecb_int_rates['date'])
ecb_int_rates = ecb_int_rates.set_index('datetime')
ecb_int_rates.drop(['date'], axis=1, inplace=True)
ecb_int_rates = ecb_int_rates.resample('B').ffill()

boj_int_rates = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/boj_int_rates_15-20.csv')
boj_int_rates['datetime'] = pd.to_datetime(boj_int_rates['date'])
boj_int_rates = boj_int_rates.set_index('datetime')
boj_int_rates.drop(['date'], axis=1, inplace=True)
boj_int_rates = boj_int_rates.resample('B').ffill()

germany_gdp = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/germany_gdp.csv')
germany_gdp['datetime'] = pd.to_datetime(germany_gdp['DATE'])
germany_gdp = germany_gdp.set_index('datetime')
germany_gdp.drop(['DATE'], axis=1, inplace=True)
germany_gdp = germany_gdp.resample('B').interpolate(method='time')

japan_gdp = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/japan_gdp.csv')
japan_gdp['datetime'] = pd.to_datetime(japan_gdp['DATE'])
japan_gdp = japan_gdp.set_index('datetime')
japan_gdp.drop(['DATE'], axis=1, inplace=True)
japan_gdp = japan_gdp.resample('B').interpolate(method='time')

eurozone_capital_account = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/eurozone_capital_account.csv')
eurozone_capital_account['datetime'] = pd.to_datetime(eurozone_capital_account['DATE'])
eurozone_capital_account = eurozone_capital_account.set_index('datetime')
eurozone_capital_account.drop(['DATE'], axis=1, inplace=True)
eurozone_capital_account = eurozone_capital_account.resample('B').interpolate(method='time')

japan_capital_account = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/japan_capital_account.csv')
japan_capital_account['datetime'] = pd.to_datetime(japan_capital_account['DATE'])
japan_capital_account = japan_capital_account.set_index('datetime')
japan_capital_account.drop(['DATE'], axis=1, inplace=True)
japan_capital_account = japan_capital_account.resample('B').interpolate(method='time')

eurozone_deficit = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/eurozone_deficit.csv')
eurozone_deficit['datetime'] = pd.to_datetime(eurozone_deficit['date'])
eurozone_deficit = eurozone_deficit.set_index('datetime')
eurozone_deficit.drop(['date'], axis=1, inplace=True)
eurozone_deficit = eurozone_deficit.resample('B').interpolate(method='time')

germany_unemp = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/germany_unemp.csv')
germany_unemp['datetime'] = pd.to_datetime(germany_unemp['DATE'])
germany_unemp = germany_unemp.set_index('datetime')
germany_unemp.drop(['DATE'], axis=1, inplace=True)
germany_unemp = germany_unemp.resample('B').interpolate(method='time')

france_unemp = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/france_unemp.csv')
france_unemp['datetime'] = pd.to_datetime(france_unemp['DATE'])
france_unemp = france_unemp.set_index('datetime')
france_unemp.drop(['DATE'], axis=1, inplace=True)
france_unemp = france_unemp.resample('B').interpolate(method='time')

japan_cpi = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/japan_cpi.csv')
japan_cpi['datetime'] = pd.to_datetime(japan_cpi['DATE'])
japan_cpi = japan_cpi.set_index('datetime')
japan_cpi.drop(['DATE'], axis=1, inplace=True)
japan_cpi = japan_cpi.resample('B').interpolate(method='time')

eurozone_cpi = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/eurozone_cpi.csv')
eurozone_cpi['datetime'] = pd.to_datetime(eurozone_cpi['DATE'])
eurozone_cpi = eurozone_cpi.set_index('datetime')
eurozone_cpi.drop(['DATE'], axis=1, inplace=True)
eurozone_cpi = eurozone_cpi.resample('B').interpolate(method='time')

ger_ind_prod = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/ger_industrial_production.csv')
ger_ind_prod['datetime'] = pd.to_datetime(ger_ind_prod['DATE'])
ger_ind_prod = ger_ind_prod.set_index('datetime')
ger_ind_prod.drop(['DATE'], axis=1, inplace=True)
ger_ind_prod = ger_ind_prod.resample('B').interpolate(method='time')

ifo = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/germany_ifo.csv')
ifo['datetime'] = pd.to_datetime(ifo['Month/year'])
ifo = ifo.set_index('datetime')
ifo.drop(['Month/year'], axis=1, inplace=True)
ifo = ifo.resample('B').interpolate(method='time')

ifo_sectors = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/germany_ifo_sectors.csv')
ifo_sectors['datetime'] = pd.to_datetime(ifo_sectors['Month/year'])
ifo_sectors = ifo_sectors.set_index('datetime')
ifo_sectors.drop(['Month/year'], axis=1, inplace=True)
ifo_sectors = ifo_sectors.resample('B').interpolate(method='time')

usdx = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/tw_usdx.csv')
usdx['datetime'] = pd.to_datetime(usdx['DATE'])
usdx = usdx.set_index('datetime')
usdx.drop(['DATE'], axis=1, inplace=True)
usdx = usdx.resample('B').interpolate(method='time')


cot_yen = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/cot_15-20_yen.csv')
cot_yen['datetime'] = pd.to_datetime(cot_yen['Report_Date_as_MM_DD_YYYY'])
cot_yen = cot_yen.set_index('datetime')
cot_yen.drop(['Report_Date_as_MM_DD_YYYY'], axis=1, inplace=True)
cot_yen = cot_yen.resample('B').ffill()


cot_euro = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/cot_15-20_euro.csv')
cot_euro['datetime'] = pd.to_datetime(cot_euro['Report_Date_as_MM_DD_YYYY'])
cot_euro = cot_euro.set_index('datetime')
cot_euro.drop(['Report_Date_as_MM_DD_YYYY'], axis=1, inplace=True)
cot_euro = cot_euro.resample('B').ffill()

In [2]:
#loading in all the commodity trade info using quandl package
#all german exports stop at 2018 on UNCOMTRADE database. will use 2015-2018 as training data
#so it should not matter as much 

import quandl
quandl.ApiConfig.api_key = 'QE9oxHN5mF4Hi5GXM12S'

ger_machinery = quandl.get('UCOM/NRBM_DEU', start_date='2014-12-31', end_date='2019-12-31')
# ger_machinery.to_csv('/Users/KevinLubin/Desktop/dosi/exo/data/ger_machinery_trade.csv')

ger_tech = quandl.get('UCOM/ELEC_DEU', start_date='2014-12-31', end_date='2019-12-31')
# ger_tech.to_csv('/Users/KevinLubin/Desktop/dosi/exo/data/ger_tech_trade.csv')

ger_cars = quandl.get('UCOM/VNRT_DEU', start_date='2014-12-31', end_date='2019-12-31')
# ger_cars.to_csv('/Users/KevinLubin/Desktop/dosi/exo/data/ger_cars_trade.csv')

ger_minerals = quandl.get('UCOM/MFOD_DEU', start_date='2014-12-31', end_date='2019-12-31')
# ger_minerals.to_csv('/Users/KevinLubin/Desktop/dosi/exo/data/ger_minerals_trade.csv')

jap_machinery = quandl.get('UCOM/NRBM_JPN', start_date='2014-12-31', end_date='2019-12-31')
# jap_machinery.to_csv('/Users/KevinLubin/Desktop/dosi/exo/data/jap_machinery_trade.csv')

jap_tech = quandl.get('UCOM/ELEC_JPN', start_date='2014-12-31', end_date='2019-12-31')
# jap_tech.to_csv('/Users/KevinLubin/Desktop/dosi/exo/data/jap_tech_trade.csv')

jap_cars = quandl.get('UCOM/VNRT_JPN', start_date='2014-12-31', end_date='2019-12-31')
# jap_cars.to_csv('/Users/KevinLubin/Desktop/dosi/exo/data/jap_cars_trade.csv')

jap_minerals = quandl.get('UCOM/MFOD_JPN', start_date='2014-12-31', end_date='2019-12-31')
# jap_minerals.to_csv('/Users/KevinLubin/Desktop/dosi/exo/data/jap_minerals_trade.csv')

In [3]:
#resampling commodity trade date

ger_machinery = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/ger_machinery_trade.csv')
ger_machinery['datetime'] = pd.to_datetime(ger_machinery['Date'])
ger_machinery = ger_machinery.set_index('datetime')
ger_machinery.drop(['Date'], axis=1, inplace=True)
ger_machinery = ger_machinery.resample('B').interpolate(method='time')

ger_tech = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/ger_tech_trade.csv')
ger_tech['datetime'] = pd.to_datetime(ger_tech['Date'])
ger_tech = ger_tech.set_index('datetime')
ger_tech.drop(['Date'], axis=1, inplace=True)
ger_tech = ger_tech.resample('B').interpolate(method='time')

ger_cars = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/ger_cars_trade.csv')
ger_cars['datetime'] = pd.to_datetime(ger_cars['Date'])
ger_cars = ger_cars.set_index('datetime')
ger_cars.drop(['Date'], axis=1, inplace=True)
ger_cars = ger_cars.resample('B').interpolate(method='time')

ger_minerals = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/ger_minerals_trade.csv')
ger_minerals['datetime'] = pd.to_datetime(ger_minerals['Date'])
ger_minerals = ger_minerals.set_index('datetime')
ger_minerals.drop(['Date'], axis=1, inplace=True)
ger_minerals = ger_minerals.resample('B').interpolate(method='time')

jap_minerals = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/jap_minerals_trade.csv')
jap_minerals['datetime'] = pd.to_datetime(jap_minerals['Date'])
jap_minerals = jap_minerals.set_index('datetime')
jap_minerals.drop(['Date'], axis=1, inplace=True)
jap_minerals = jap_minerals.resample('B').interpolate(method='time')

jap_machinery = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/jap_machinery_trade.csv')
jap_machinery['datetime'] = pd.to_datetime(jap_machinery['Date'])
jap_machinery = jap_machinery.set_index('datetime')
jap_machinery.drop(['Date'], axis=1, inplace=True)
jap_machinery = jap_machinery.resample('B').interpolate(method='time')

jap_tech = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/jap_tech_trade.csv')
jap_tech['datetime'] = pd.to_datetime(jap_tech['Date'])
jap_tech = jap_tech.set_index('datetime')
jap_tech.drop(['Date'], axis=1, inplace=True)
jap_tech = jap_tech.resample('B').interpolate(method='time')

jap_cars = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/jap_cars_trade.csv')
jap_cars['datetime'] = pd.to_datetime(jap_cars['Date'])
jap_cars = jap_cars.set_index('datetime')
jap_cars.drop(['Date'], axis=1, inplace=True)
jap_cars = jap_cars.resample('B').interpolate(method='time')

In [4]:
#loading in all the indices and bonds including Y variable (eur_jpy) 
#they do not need resampling because they are already in business day format

eur_jpy= pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/eur_jpy_prices_noHL.csv')
eur_jpy['datetime'] = pd.to_datetime(eur_jpy['Date'])
eur_jpy = eur_jpy.set_index('datetime')
eur_jpy.drop(['Date'], axis=1, inplace=True)


nikkei = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/nikkei.csv')
nikkei['datetime'] = pd.to_datetime(nikkei['Date'])
nikkei = nikkei.set_index('datetime')
nikkei.drop(['Date'], axis=1, inplace=True)

dax = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/dax.csv')
dax['datetime'] = pd.to_datetime(dax['Date'])
dax = dax.set_index('datetime')
dax.drop(['Date'], axis=1, inplace=True)

dow_jones = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/dow_jones.csv')
dow_jones['datetime'] = pd.to_datetime(dow_jones['Date'])
dow_jones = dow_jones.set_index('datetime')
dow_jones.drop(['Date'], axis=1, inplace=True)

sp500 = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/sp500.csv')
sp500['datetime'] = pd.to_datetime(sp500['Date'])
sp500 = sp500.set_index('datetime')
sp500.drop(['Date'], axis=1, inplace=True)

ftse = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/ftse.csv')
ftse['datetime'] = pd.to_datetime(ftse['Date'])
ftse = ftse.set_index('datetime')
ftse.drop(['Date'], axis=1, inplace=True)

euronext = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/euronext.csv')
euronext['datetime'] = pd.to_datetime(euronext['Date'])
euronext = euronext.set_index('datetime')
euronext.drop(['Date'], axis=1, inplace=True)

eurodollar = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/eurodollar_futures.csv')
eurodollar['datetime'] = pd.to_datetime(eurodollar['Date'])
eurodollar = eurodollar.set_index('datetime')
eurodollar.drop(['Date'], axis=1, inplace=True)

euribor = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/euribor_futures.csv')
euribor['datetime'] = pd.to_datetime(euribor['Date'])
euribor = euribor.set_index('datetime')
euribor.drop(['Date'], axis=1, inplace=True)


ger_10yr_bond = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/ger_10yr_bond.csv')
ger_10yr_bond['datetime'] = pd.to_datetime(ger_10yr_bond['Date'])
ger_10yr_bond = ger_10yr_bond.set_index('datetime')
ger_10yr_bond.drop(['Date'], axis=1, inplace=True)

fra_10yr_bond = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/fra_10yr_bond.csv')
fra_10yr_bond['datetime'] = pd.to_datetime(fra_10yr_bond['Date'])
fra_10yr_bond = fra_10yr_bond.set_index('datetime')
fra_10yr_bond.drop(['Date'], axis=1, inplace=True)

jap_10yr_bond = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/jap_10yr_bond.csv')
jap_10yr_bond['datetime'] = pd.to_datetime(jap_10yr_bond['Date'])
jap_10yr_bond = jap_10yr_bond.set_index('datetime')
jap_10yr_bond.drop(['Date'], axis=1, inplace=True)

ger_5yr_bond = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/ger_5yr_bond.csv')
ger_5yr_bond['datetime'] = pd.to_datetime(ger_5yr_bond['Date'])
ger_5yr_bond = ger_5yr_bond.set_index('datetime')
ger_5yr_bond.drop(['Date'], axis=1, inplace=True)

fra_5yr_bond = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/fra_5yr_bond.csv')
fra_5yr_bond['datetime'] = pd.to_datetime(fra_5yr_bond['Date'])
fra_5yr_bond = fra_5yr_bond.set_index('datetime')
fra_5yr_bond.drop(['Date'], axis=1, inplace=True)

jap_5yr_bond = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/jap_5yr_bond.csv')
jap_5yr_bond['datetime'] = pd.to_datetime(jap_5yr_bond['Date'])
jap_5yr_bond = jap_5yr_bond.set_index('datetime')
jap_5yr_bond.drop(['Date'], axis=1, inplace=True)

### Incorporating news data into dataset

In [6]:
gp_news = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/gp_news.csv')

In [7]:
gp_news.head()

,SQLDATE,EventRootCode,Quadclass,AvgTone,GoldSteinScale,NumMentions,Sourceurl
0,20150102,1,1,6.457243,0.0,1,http://newsblaze.com/story/20150101225144kamw....
1,20150102,1,1,6.457243,0.0,1,http://newsblaze.com/story/20150101225144kamw....
2,20150102,1,1,6.457243,0.0,1,http://newsblaze.com/story/20150101225144kamw....
3,20150102,1,1,6.457243,0.0,1,http://newsblaze.com/story/20150101225144kamw....
4,20150102,4,1,3.833333,1.9,5,http://www.independent.co.uk/voices/campaigns/...

In [8]:
gp_news.shape

(30353, 7)

In [9]:
#dropping duplicate news articles

gp_news = gp_news.drop_duplicates(subset=['Sourceurl'], keep='last').reset_index(drop=True)
gp_news = gp_news.rename(columns={"SQLDATE": "Date"})
gp_news['Date'] = gp_news['Date'].astype(str)
gp_news.shape

(10625, 7)

In [10]:
gp_news.head()

,Date,EventRootCode,Quadclass,AvgTone,GoldSteinScale,NumMentions,Sourceurl
0,20150102,1,1,6.457243,0.0,1,http://newsblaze.com/story/20150101225144kamw....
1,20150102,4,1,3.833333,1.9,5,http://www.independent.co.uk/voices/campaigns/...
2,20150102,11,3,2.925046,-2.0,4,http://www.themalaymailonline.com/drive/articl...
3,20150102,19,4,1.428571,-10.0,2,http://www.latimes.com/opinion/readersreact/la...
4,20150102,4,1,3.613369,2.8,2,http://www.westernjournalism.com/part-louis-za...

In [11]:
#creating new variables for two sentiment variables for each Event by Date

tone = gp_news.groupby(['Date','EventRootCode','Quadclass'], as_index = False)['AvgTone'].mean()
tone = tone.rename(columns={"EventRootCode":"event","Quadclass":"class","AvgTone":"tone"})
tone['event'] = tone['event'].astype(str)

goldstein = gp_news.groupby(['Date','EventRootCode','Quadclass'], as_index = False)['GoldSteinScale'].mean()
goldstein = goldstein.rename(columns={"EventRootCode":"event","Quadclass":"class","GoldSteinScale":"goldstein"})
goldstein['event'] = goldstein['event'].astype(str)\

In [12]:
tone.head()

       Date event  class      tone
0  20150102     1      1  5.677601
1  20150102     4      1  3.723351
2  20150102    11      3  2.925046
3  20150102    19      4  1.428571
4  20150103     4      1  1.586707

In [13]:
goldstein.head()

       Date event  class  goldstein
0  20150102     1      1       0.00
1  20150102     4      1       2.35
2  20150102    11      3      -2.00
3  20150102    19      4     -10.00
4  20150103     4      1       2.35

In [14]:
#using codes for events to rename event column

cameo_codes = pd.read_csv('/Users/KevinLubin/Desktop/dosi/exo/data/cameo_codes.csv',dtype={'code':str})
cameo_codes['event'] = cameo_codes['event'].str.lower()
cameo_codes = dict(zip(cameo_codes.code,cameo_codes.event))
tone['event'].replace(cameo_codes, inplace=True)
goldstein['event'].replace(cameo_codes, inplace=True)

In [15]:
#organizing the data by date for each Event category 

tone = tone.pivot_table(
    values='tone', index='Date', columns='event', aggfunc='mean')

goldstein = goldstein.pivot_table(
    values='goldstein', index='Date', columns='event', aggfunc='mean')

In [16]:
#resetting indexes to make indexes columns

tone.reset_index(level=tone.index.names, inplace=True)
goldstein.reset_index(level=goldstein.index.names, inplace=True)

In [17]:
tone.head()

event,Date,appeal,assault,coerce,consult,demand,diplomatic_cooperation,disapprove,exhibit_force,fight,...,investigate,mass_violence,material_cooperation,protest,provide_aid,public statement,reduce_relations,reject,threaten,yield
0,20150102,NaN,NaN,NaN,3.723351,NaN,NaN,2.925046,NaN,1.428571,...,NaN,NaN,NaN,NaN,NaN,5.677601,NaN,NaN,NaN,NaN
1,20150103,NaN,NaN,NaN,1.586707,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.681764
2,20150104,NaN,NaN,NaN,1.609020,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.627907,NaN,NaN,NaN,NaN,2.681764
3,20150105,NaN,NaN,NaN,NaN,NaN,NaN,3.008316,NaN,NaN,...,NaN,NaN,NaN,NaN,2.761104,3.508772,NaN,NaN,NaN,3.565640
4,20150106,NaN,NaN,NaN,1.750983,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.228501,NaN,NaN,3.676471,NaN,NaN,NaN,2.564103

In [18]:
#summary statistics

tone.describe()

event,appeal,assault,coerce,consult,demand,diplomatic_cooperation,disapprove,exhibit_force,fight,intent_to_cooperate,investigate,mass_violence,material_cooperation,protest,provide_aid,public statement,reduce_relations,reject,threaten,yield
count,502.000000,74.000000,250.000000,1207.000000,70.000000,678.000000,478.000000,44.000000,410.000000,547.000000,145.000000,1.000000,430.000000,64.000000,259.000000,625.000000,40.000000,212.000000,91.000000,465.000000
mean,-0.743375,-2.881717,-1.623525,-0.240689,-1.234760,-0.061597,-0.389775,-1.280155,-2.438574,0.013024,-0.284894,-1.930759,0.354219,-1.206482,-0.203032,-0.826531,-1.174436,-1.193804,-2.971392,-1.021076
std,2.605930,3.851446,3.405535,2.503633,2.373429,2.950751,2.966092,2.585800,2.970651,2.524897,2.794016,NaN,2.344391,2.778337,2.883840,3.005968,3.151008,2.879989,3.019726,2.617879
min,-8.928571,-12.100457,-14.431934,-10.638298,-6.400000,-9.792844,-11.460957,-8.888889,-11.413043,-11.705108,-7.692308,-1.930759,-8.169795,-7.981221,-10.876133,-14.753495,-7.272727,-12.854030,-12.164580,-8.748906
25%,-2.442966,-5.339175,-3.660552,-1.834205,-2.801860,-2.168397,-2.262171,-3.208915,-4.316386,-1.645160,-2.040816,-1.930759,-1.019615,-2.833667,-1.991041,-2.657807,-3.704742,-2.942564,-4.662179,-2.557545
50%,-0.572545,-3.102074,-1.261574,-0.129766,-1.138936,0.260954,-0.284851,-0.956366,-2.421804,0.000000,-0.101010,-1.930759,0.362570,-0.768756,-0.197435,-0.709220,-1.440780,-1.142443,-2.724177,-1.000000
75%,1.246836,-0.423206,0.828507,1.390097,0.000000,1.969792,1.720454,0.593948,-0.358375,1.578991,1.478953,-1.930759,1.842259,0.837321,1.738418,1.036629,1.199959,0.669859,-1.158318,0.689616
max,5.577802,7.389163,4.744070,10.546875,7.042254,7.717183,8.152174,2.699751,7.058824,8.573428,7.288630,-1.930759,6.493506,3.125000,8.602151,11.976048,7.692308,10.714286,3.800786,7.323944

In [19]:
#dropping column for lack of data

tone.drop(['mass_violence'], axis=1, inplace=True)

In [20]:
#summary statistics

goldstein.describe()

event,appeal,assault,coerce,consult,demand,diplomatic_cooperation,disapprove,exhibit_force,fight,intent_to_cooperate,investigate,mass_violence,material_cooperation,protest,provide_aid,public statement,reduce_relations,reject,threaten,yield
count,502.000000,74.000000,250.000000,1207.000000,70.0,678.000000,478.0,4.400000e+01,410.000000,547.000000,145.0,1.0,430.000000,64.000000,259.000000,625.000000,40.000000,212.000000,91.000000,465.000000
mean,2.988541,-9.361486,-5.317600,2.834790,-5.0,4.792556,-2.0,-7.200000e+00,-9.949573,4.271136,-2.0,-10.0,6.318310,-6.515625,7.234289,0.023027,-4.887500,-4.117925,-5.028571,6.026703
std,0.396774,0.466593,1.093689,1.607689,0.0,1.934869,0.0,6.289127e-15,0.142149,0.633033,0.0,NaN,0.264744,0.125000,0.276498,0.415464,1.402779,0.319596,1.102450,1.371912
min,-0.300000,-10.000000,-9.200000,1.000000,-5.0,3.400000,-2.0,-7.200000e+00,-10.000000,4.000000,-2.0,-10.0,6.000000,-7.500000,7.000000,-2.000000,-8.000000,-5.000000,-7.000000,5.000000
25%,3.000000,-10.000000,-5.000000,1.900000,-5.0,3.400000,-2.0,-7.200000e+00,-10.000000,4.000000,-2.0,-10.0,6.000000,-6.500000,7.000000,0.000000,-7.000000,-4.000000,-5.050000,5.000000
50%,3.000000,-9.000000,-5.000000,2.500000,-5.0,3.450000,-2.0,-7.200000e+00,-10.000000,4.000000,-2.0,-10.0,6.400000,-6.500000,7.266667,0.000000,-4.000000,-4.000000,-4.400000,5.000000
75%,3.000000,-9.000000,-5.000000,3.000000,-5.0,6.466667,-2.0,-7.200000e+00,-10.000000,4.000000,-2.0,-10.0,6.400000,-6.500000,7.400000,0.000000,-4.000000,-4.000000,-4.400000,7.000000
max,4.000000,-8.000000,-5.000000,7.000000,-5.0,8.000000,-2.0,-7.200000e+00,-9.500000,7.000000,-2.0,-10.0,7.400000,-6.500000,8.500000,3.400000,-4.000000,-4.000000,-4.400000,10.000000

In [21]:
#dropping columns for lack of variance

goldstein.drop(['demand','disapprove','investigate','mass_violence'], axis=1, inplace=True)

In [22]:
#changing date to datetime object to align with other dataframes for merging 

tone['datetime'] = pd.to_datetime(tone['Date'])
tone = tone.set_index('datetime')
tone.drop(['Date'], axis=1, inplace=True)

goldstein['datetime'] = pd.to_datetime(goldstein['Date'])
goldstein = goldstein.set_index('datetime')
goldstein.drop(['Date'], axis=1, inplace=True)

In [23]:
#adding suffix to column names so there is no confusion in merged dataframe

tone = tone.add_suffix('_tone')
goldstein = goldstein.add_suffix('_goldstein')

### EDA

In [24]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 
%matplotlib inline 
sns.set(color_codes=True)
from functools import reduce

In [25]:
df_list = [eur_jpy, nikkei, dow_jones, sp500, dax, ftse, euronext, eurodollar, euribor, 
          fra_10yr_bond, ger_10yr_bond, jap_10yr_bond, fra_5yr_bond, ger_5yr_bond, jap_5yr_bond,
          cot_euro, cot_yen, usdx, ifo, ifo_sectors, japan_cpi, eurozone_cpi, ger_ind_prod,
          jap_commodities, tankan, france_gdp, germany_gdp, japan_gdp, ecb_int_rates,
          boj_int_rates, eurozone_capital_account, japan_capital_account, eurozone_deficit,
          germany_unemp, france_unemp, tone, goldstein]

#excluding below DFs at this time due to large increase in runtime
# jap_cars, jap_tech, jap_minerals, jap_machinery, ger_cars, ger_tech, ger_minerals, ger_machinery

In [26]:
#merging all datasets into dataframe

df = reduce(lambda  left,right: pd.merge(left, right, left_index=True, right_index=True,
                                            how='outer'), df_list)

In [27]:
df.head()

,eur_jpy,nikkei_Open,nikkei_High,nikkei_Low,nikkei_Close,dow_jones_Open,dow_jones_High,dow_jones_Low,dow_jones_Close,sp500_Open,...,fight_goldstein,intent_to_cooperate_goldstein,material_cooperation_goldstein,protest_goldstein,provide_aid_goldstein,public statement_goldstein,reduce_relations_goldstein,reject_goldstein,threaten_goldstein,yield_goldstein
datetime,,,,,,,,,,,,,,,,,,,,,
2015-01-01,144.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-02,144.60,NaN,NaN,NaN,NaN,17823.07,17951.78,17731.30,17832.99,2058.90,...,-10.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2015-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
2015-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.4,NaN,NaN,NaN,NaN,5.0
2015-01-05,142.77,17325.68,17540.92,17219.22,17408.71,17821.30,17821.30,17475.93,17501.65,2054.44,...,NaN,NaN,NaN,NaN,7.0,0.0,NaN,NaN,NaN,5.0

In [28]:
df.shape

(1821, 308)

In [29]:
#checking for duplicate rows

duplicate_rows_df = df[df.duplicated()]
print('number of duplicate rows: ', duplicate_rows_df.shape)

number of duplicate rows:  (0, 308)

In [30]:
#checking for null values

print(df.isna().sum())

eur_jpy                        516
nikkei_Open                    599
nikkei_High                    599
nikkei_Low                     599
nikkei_Close                   599
                              ...
public statement_goldstein    1196
reduce_relations_goldstein    1781
reject_goldstein              1609
threaten_goldstein            1730
yield_goldstein               1356
Length: 308, dtype: int64

In [31]:
#only interpolating null values for financial data, not news data

df2 = df.iloc[:, :274].interpolate(method='time')

In [32]:
#merging the interpolated df with the non-interpolated df

df3 = df.iloc[:, 274:]
df = pd.merge(df2, df3, right_index=True, left_index=True)

In [33]:
print(df.isna().sum())

eur_jpy                          0
nikkei_Open                      4
nikkei_High                      4
nikkei_Low                       4
nikkei_Close                     4
                              ...
public statement_goldstein    1196
reduce_relations_goldstein    1781
reject_goldstein              1609
threaten_goldstein            1730
yield_goldstein               1356
Length: 308, dtype: int64

In [34]:
#same thing as above - only on financial data

df2 = df.iloc[:, :274].fillna(method='backfill')
df3 = df.iloc[:, 274:]
df = pd.merge(df2, df3, right_index=True, left_index=True)

In [35]:
print(df.isna().sum())

eur_jpy                          0
nikkei_Open                      0
nikkei_High                      0
nikkei_Low                       0
nikkei_Close                     0
                              ...
public statement_goldstein    1196
reduce_relations_goldstein    1781
reject_goldstein              1609
threaten_goldstein            1730
yield_goldstein               1356
Length: 308, dtype: int64

In [37]:
df.describe()

,eur_jpy,nikkei_Open,nikkei_High,nikkei_Low,nikkei_Close,dow_jones_Open,dow_jones_High,dow_jones_Low,dow_jones_Close,sp500_Open,...,fight_goldstein,intent_to_cooperate_goldstein,material_cooperation_goldstein,protest_goldstein,provide_aid_goldstein,public statement_goldstein,reduce_relations_goldstein,reject_goldstein,threaten_goldstein,yield_goldstein
count,1821.000000,1821.000000,1821.000000,1821.000000,1821.000000,1821.000000,1821.000000,1821.000000,1821.000000,1821.000000,...,410.000000,547.000000,430.000000,64.000000,259.000000,625.000000,40.000000,212.000000,91.000000,465.000000
mean,126.762158,20064.604519,20163.677624,19954.788115,20062.879556,21734.204647,21830.373366,21627.333085,21734.646850,2452.085415,...,-9.949573,4.271136,6.318310,-6.515625,7.234289,0.023027,-4.887500,-4.117925,-5.028571,6.026703
std,6.610295,2180.021214,2168.465555,2193.448354,2183.359282,3723.540904,3735.731623,3712.773071,3723.524002,357.856649,...,0.142149,0.633033,0.264744,0.125000,0.276498,0.415464,1.402779,0.319596,1.102450,1.371912
min,111.120000,15094.710000,15323.950000,14864.010000,14952.020000,15676.260000,15897.820000,15370.330000,15660.180000,1833.400000,...,-10.000000,4.000000,6.000000,-7.500000,7.000000,-2.000000,-8.000000,-5.000000,-7.000000,5.000000
25%,121.800000,18604.870000,18765.470000,18486.460000,18567.526000,17977.110000,18044.710000,17891.776667,17982.520000,2100.590000,...,-10.000000,4.000000,6.000000,-6.500000,7.000000,0.000000,-7.000000,-4.000000,-5.050000,5.000000
50%,127.720000,20154.380000,20224.540000,20075.910000,20139.563333,21411.190000,21480.800000,21372.360000,21414.340000,2433.463333,...,-10.000000,4.000000,6.400000,-6.500000,7.266667,0.000000,-4.000000,-4.000000,-4.400000,5.000000
75%,132.060000,21795.610000,21903.390000,21698.710000,21807.500000,25294.970000,25431.816667,25152.020000,25299.920000,2768.510000,...,-10.000000,4.000000,6.400000,-6.500000,7.400000,0.000000,-4.000000,-4.000000,-4.400000,7.000000
max,144.810000,24376.170000,24448.070000,24217.260000,24270.620000,28675.340000,28701.660000,28608.980000,28645.260000,3247.230000,...,-9.500000,7.000000,7.400000,-6.500000,8.500000,3.400000,-4.000000,-4.000000,-4.400000,10.000000

In [38]:
#create correlation matrix
corr_matrix = df.corr().abs()

#select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

#find features with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]
to_drop

# Drop those highly correlated features 
df.drop(to_drop, axis=1, inplace=True)

In [40]:
df.shape

(1821, 137)

In [42]:
#saving final cleaned data frame

df.to_csv('/Users/KevinLubin/Desktop/dosi/exo/data/clean_data.csv')